<h1>Dungeons Index</h1>
<h2><%= link_to "Create Dungeon", "/dungeons/new" %></h2>
<% @dungeons.each do |dungeon| %>
  <h3><%= link_to dungeon.name, "/dungeons/#{dungeon.id}" %></h3>
  <p><%= link_to "Edit Dungeon", "/dungeons/#{dungeon.id}/edit" %>
  <p><%= "Created at: #{dungeon.created_at}" %></p>
<% end %>
